.food-sor {
    background-color: rgb(224, 71, 71);
}
.utilities-sor {
    background-color: rgb(71, 224, 135);
}
.entertainment-sor {
    background-color: rgb(71, 158, 224);
}
.misc-sor {
    background-color: rgb(200, 91, 224);
}